{% extends 'base.html' %}

{% block main %}
<h1>Database Assignment</h1>
    <div class="view-list">
        <a href="viewexh" class="button">View Exhibitions</a>
        <a href="viewart" class="button">View Artists</a>
        <a href="viewgal" class="button">View Galleries</a>
        <a href="viewtyp" class="button">View Gallery Types</a>
    </div>
    <div class="edit-list">
        <a href="editexh" class="button">Edit Exhibitions</a>
        <a href="editart" class="button">Edit Artists</a>
        <a href="editgal" class="button">Edit Galleries</a>
        <a href="edittyp" class="button">Edit Gallery Types</a>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1>George</h1>
    <div class="george">
        <img src="/george.jpg">
    </div>
{% endblock %}
